<!DOCTYPE html>
<html lang="en">

<head>
  <% include head %>
</head>

<body class="container">

  <!-- <header>
    <% include header %>
  </header> -->

  <main>


      <div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io();
          socket.on('info', function(msg){

              //$('#messages').append($('<li>').text(msg));
              console.log(msg);
          });
          socket.on('data', function(msg){
            $('#datatable').empty();
              //$('#messages').append($('<li>').text("data: "+ msg));

              for(var roomIdx in msg.rooms){
                var room = msg.rooms[roomIdx];
                var nowstring = ''
                var nextstring = ''
                if(room['nowstate']=='busy'){nowstring = '<td class="busy">'+room['now']+'</td>'}
                else{nowstring = '<td class="free">'+room['now']+'</td>'}
                if(room['nextstate']=='busy'){nextstring = '<td class="busy">'+room['next']+'</td>'}
                else{nextstring = '<td class="free">'+room['next']+'</td>'}

                $('#datatable').append('<tr><td>'+room['room']+'</td>'+nowstring+''+nextstring+'</td>');
              }

          });
        </script>
        <h1><span class="blue">&lt;</span>CSDM<span class="blue">&gt;</span> <span class="yellow">Now and Next</pan></h1>


<table class="container">
	<thead>
		<tr>
			<th><h1>Room</h1></th>
			<th><h1>Now</h1></th>
			<th><h1>Next</h1></th>
		</tr>
	</thead>
	<tbody id="datatable">

	</tbody>
</table>
      </div>


    </div>
  </main>

  <footer>
    <% include footer %>
  </footer>

</body>

</html>
